#map {
    height: 50vh;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    padding: 0;
}
.leaflet-marker-icon {
    background: none;
    border: none;
}

ul.errorlist {
    background: var(--form-element-invalid-active-border-color);
    color: var(--primary-inverse);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    text-align: center;
}
ul.errorlist li {
    list-style: none;
    margin-bottom: 0;
}